@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

header {
    padding: 1rem;
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
}

#btnContainer {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.btn {
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.699);
}

.btn img{
    z-index: -1;
    padding: .4rem;
    max-height: 5rem;
}

.results {
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
}

#resultsInfo {
    font-size: 1.5rem;
    margin: .4rem;
}

.hidden {
    visibility: hidden;
}

iframe {
    top: 0;
    position: absolute;
    
}

canvas {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
}

.introPage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #121212;
    color: #FFF;
}

.introPage p {
    margin: 2rem;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 1.6rem;
    color: #FFF;
}

.yesNoBtns {
    padding: .4rem;
    text-align: center;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    border-radius: 10%;
    background-color: #FFF;
}

.yesNoBtnsContainer {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}